<?php
// have it fix our source code and tests
$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src')
    ->in(__DIR__ . '/spec')
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules(array(
        '@Symfony' => true,
        'binary_operator_spaces' => ['align_double_arrow' => true, 'align_equals' => true],
        'ordered_imports' => true,
        'array_syntax' => ['syntax' => 'short'],
        'declare_strict_types' => true,
        'void_return' => true,
        'no_superfluous_phpdoc_tags' => false,
        'php_unit_method_casing' => false,
        'protected_to_private' => false,
    ))
    ->setFinder($finder)
    ->setUsingCache(true)
    ;